{% extends 'main/base.html' %}
{% block title %}Daftar Artikel{% endblock %}

{% block content %}

	<form class="form-inline my-2 my-lg-0" action="{% url 'list' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <br>

	<table class="table" border="1">
	    <thead>
		    <tr>  
		    	<th scope="col">#</th>
		        <th scope="col">Judul</th>
		        <th scope="col">Isi</th>   
		    </tr>
	    </thead>
	    <tbody>
	    	{% for item in daftar %}
	      	<tr v-for="article in articles">
	        <th scope="row">{{item.article_id}}</th>
	        <td>{{item.article_judul}}</td>
	        <td>{{item.article_isi}}</td>
	      	</tr>
	      	{% endfor %}
	    </tbody>
	</table>

	<a href="/logout">Logout</a>
	
{% endblock %}